# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.s

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

image
build
*.elf 
*.o 
*.bin 
os_dis.txt 
os_elf.txt 
**/start.s
/source_tmp
/c*